<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header navbar-right">
      <a class="navbar-brand navbar-right" routerLink="/">באולינג אשדוד</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li (click)="checkIfClicked()"><a routerLink="/">כניסת מנהל</a></li>
      <li><a routerLink="/">תוכנית משחקים</a></li>

      <li *ngIf="!clickDropDownFlag" (click)="clickDropDownFlag=!clickDropDownFlag" class="dropdown ">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" >שיאים
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a >שיא אישי - משחק בודד</a></li>
          <li><a >שיא אישי - שלישיית משחקים</a></li>
          <li><a >שיא קבוצתי - משחק בודד</a></li>
          <li><a >שיא קבוצתי - שלישיית משחקים</a></li>
        </ul>
      </li>

      <li *ngIf="clickDropDownFlag" (click)="clickDropDownFlag=!clickDropDownFlag" class="dropdown open">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" >שיאים
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a >שיא אישי - משחק בודד</a></li>
          <li><a >שיא אישי - שלישיית משחקים</a></li>
          <li><a >שיא קבוצתי - משחק בודד</a></li>
          <li><a >שיא קבוצתי - שלישיית משחקים</a></li>
        </ul>
      </li>
      <li><a routerLink="/">נבחרת השבוע</a></li>
      <li><a routerLink="/">מיקום קבוצות</a></li>
      <li class="active"><a routerLink="/">תוצאות אישיות</a></li>




    </ul>
  </div>
</nav>

<app-login (loginSucsess)="showManegerdisbleLogin($event)" *ngIf="showLoginComponent"></app-login>
<app-manager-component *ngIf=showManeger></app-manager-component>
<app-manager-component></app-manager-component><!--//delete this for debug!!!-->
