<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header navbar-right">
      <a class="navbar-brand navbar-right" routerLink="/">באולינג אשדוד</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li (click)="checkIfClicked()"><a routerLink="/">כניסת מנהל</a></li>
      <li><a routerLink="/">תוכנית משחקים</a></li>
      <li><a routerLink="/">שיא קבוצתי - שלישייה</a></li>
      <li><a routerLink="/">שיא קבוצתי - משחק בודד</a></li>
      <li><a routerLink="/">שיאיים אישיים - שלישייה</a></li>
      <li><a routerLink="/">שיאיים אישיים - משחק בודד</a></li>
      <li><a routerLink="/">נבחרת השבוע</a></li>
      <li><a routerLink="/">מיקום קבוצות</a></li>
      <li class="active"><a routerLink="/">תוצאות אישיות</a></li>


    </ul>
  </div>
</nav>

<app-page2 *ngIf="showLoginComponent"></app-page2>

<b (loginSucsess)="showOrNot($event)">show</b>
<div></div>
{{debug}}
